header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  opacity: 0.9;
  z-index: 999;
}

iframe {
  position: relative;
  top: 150px;
  width: 100%;
  height: 500px;
}

@media (max-width: 500px) {
  body {
    flex-wrap: wrap;
  }
}

ul {
  display: inline-block;
  text-align: left;
  font-size: 1.25em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}
nav a {
  color: green;
}
