#image {
  max-width: 100%;
  height: auto;
  display: block;
}
h1 {
  font-size: 100px;
  text-decoration: underline;
}
h2 {
  font-size: 50px;
  text-decoration: underline;
}
h3 {
  font-size: 30px;
  text-decoration: underline;
}
ul {
  font-size: 20px;
}
p {
  font-size: 20px;
}
